.BandList {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	max-width: 1200px;
	margin: auto;
	padding: 2em;
}


.bandSearch form {
    display: flex;
	align-items: flex-start;
    width: 80%;
}

.bandSearch form input {
    font-size: 1em;
}

/* Small screens mobile */
@media only screen and (max-width: 700px) {
	.POPOSList {
		grid-template-columns: 1fr;
	}
}

/* smaller screens and tbalets */
@media only screen and (max-width: 960px) {
    .POPOSList {
      grid-template-columns: 1fr 1fr;
    }
}

.BandList form {
	display: flex;
	align-items: center;
}

.BandList form input, .BandList form button {
	padding: 1em;
	margin: 0;
	border: 1px solid;
	font-size: 1rem;
}

.BandList form input {
	flex: 1;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.BandList form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}